<div class="form-group" [formGroup]="joueurForm">
    <label for="prenomJoueur">Prénom du joueur: </label>
    <input class="form-control" type="text" id="prenomJoueur" formControlName="prenom">
    <label for="nomJoueur">Nom du joueur: </label>
    <input class="form-control" type="text" id="nomJoueur" formControlName="nom">
    <label for="dateNaissance">Date de naissance: </label>
    <input class="form-control" type="text" id="dateNaissance" formControlName="dateNaissance" value="{{ this.monJoueur.dateNaissance | date: 'yyyy-MM-dd' }}">
    <label for="ville">Ville de naissance: </label>
    <input class="form-control" type="text" id="ville" formControlName="villeNaissance">
    <label for="pays_origine">Pays d'origine: </label>
    <input class="form-control" type="text" id="paysOrigine" formControlName="paysOrigine">
    
    <button type="submit" class="btn btn-primary my-3" (click)="surEnregistrer()">Soumettre</button>
    <input class="form-control" type="text" id="messageAAfficher" formControlName="messageAAfficher" readonly>
</div>
