# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.angular/cache/angular-webpack/acacc176751356fea50835f0723dc14b97d1d7e3/0.pack
.angular/cache/angular-webpack/acacc176751356fea50835f0723dc14b97d1d7e3/1.pack
.angular/cache/angular-webpack/acacc176751356fea50835f0723dc14b97d1d7e3/2.pack
.angular/cache/angular-webpack/acacc176751356fea50835f0723dc14b97d1d7e3/index.pack
.angular/cache/angular-webpack/acacc176751356fea50835f0723dc14b97d1d7e3/index.pack.old
.angular/cache/babel-webpack/00e177af0798407e5125b392f5ef34e0.json
.angular/cache/babel-webpack/1d4b5677c622db7e84f559a2277b6e42.json
.angular/cache/babel-webpack/2c8bea0d1f669fb7862daeface699b3e.json
.angular/cache/babel-webpack/2f03b0446cecc9553c29ee6f7d65d7e5.json
.angular/cache/babel-webpack/4bea86dd2a8f9b4f77503bd479d209fa.json
.angular/cache/babel-webpack/4fd8ffdf4d822d0de35d200d93bd3c22.json
.angular/cache/babel-webpack/7d53f344170374093ea7edebba653595.json
.angular/cache/babel-webpack/8a31c321dc7dea89b11ea29d3d978169.json
.angular/cache/babel-webpack/9be9a2ff9ae8a66bd690f61de3c3f829.json
.angular/cache/babel-webpack/12faef86b9e036f16eb33218b76bd0e0.json
.angular/cache/babel-webpack/9378d2ed402a785117c4229d25d7217b.json
.angular/cache/babel-webpack/521486915abc93843e88cb6a534a5aa0.json
.angular/cache/babel-webpack/b5bf76aefe8a362966b618f4a06c0c0d.json
.angular/cache/babel-webpack/b07e1442ed99b04af43312f089633139.json
.angular/cache/babel-webpack/ba34ba3e3668789bf178196142d2dbc8.json
.angular/cache/babel-webpack/c0b256fe7f00261ea3ae0fa7abace955.json
.angular/cache/babel-webpack/c8041b5c3acabd3ac624709069d48b60.json
.angular/cache/babel-webpack/d6e5f7807ccefb8d978d090d2f51f364.json
.angular/cache/babel-webpack/da4e19a880d88398187effbac54aa0c3.json
.angular/cache/babel-webpack/df3e12bbc49332d512c471c7fbe03a97.json
.angular/cache/babel-webpack/e896d63b05181ef77ed3fb31c3d89453.json
.angular/cache/babel-webpack/e7389ba85f394b6bc151f5d37f73d2b1.json
.angular/cache/babel-webpack/eebdb95f271023a74655a3c2c7a2b4b0.json
.angular/cache/babel-webpack/fde23c0b3ac823ffa5f934cca92cc2dd.json
