<div class="form-group" [formGroup]="equipeForm">
    <label for="nomEquipe">Nom de l'équipe: </label>
    <input class="form-control" type="text" id="nomEquipe" formControlName="nomEquipe">
    <label for="ville">Ville de l'équipe: </label>
    <input class="form-control" type="text" id="ville" formControlName="ville">
    <label for="anneeDebut">Année de début des activités: </label>
    <input class="form-control" type="text" id="anneeDebut" formControlName="anneeDebut">
    <label for="anneeFin">Année de fin des activités: </label>
    <input class="form-control" type="text" id="anneeFin" formControlName="anneeFin">
    
    <label for="estDevenueEquipe">Est devenue l'équipe: </label>
    <input class="form-control" type="text" id="estDevenueEquipe" formControlName="estDevenueEquipe">
    <button type="submit" class="btn btn-primary my-3" (click)="surEnregistrer()">Soumettre</button>
    <input class="form-control" type="text" id="messageAAfficher" formControlName="messageAAfficher" readonly>
</div>
