<div class="form-group" [formGroup]="equipeForm">
    <label for="nomEquipe">Nom de l'équipe: </label>
    <input class="form-control" type="text" id="nomEquipe" formControlName="nom_Equipe" readonly>
    <label for="ville">Ville de l'équipe: </label>
    <input class="form-control" type="text" id="ville" formControlName="ville" readonly>
    <label for="anneeDebut">Année de début des activités: </label>
    <input class="form-control" type="text" id="anneeDebut" formControlName="annee_debut" readonly>
    <label for="anneeFin">Année de fin des activités: </label>
    <input class="form-control" type="text" id="anneeFin" formControlName="annee_fin" readonly>
    <label for="estDevenueEquipe">Est devenue l'équipe: </label>
    <input class="form-control" type="text" id="estDevenueEquipe" formControlName="est_Devenue_Equipe" readonly>
</div>
