<div class="form-group" [formGroup]="equipeForm">
    <label for="nomEquipe">Nom de l'équipe: </label>
    <input class="form-control" type="text" id="nomEquipe" formControlName="nomEquipe" readonly>
    <label for="ville">Ville de l'équipe: </label>
    <input class="form-control" type="text" id="ville" formControlName="ville" readonly>
    <label for="anneeDebut">Année de début des activités: </label>
    <input class="form-control" type="text" id="anneeDebut" formControlName="anneeDebut" readonly>
    <label for="anneeFin">Année de fin des activités: </label>
    <input class="form-control" type="text" id="anneeFin" formControlName="anneeFin" readonly>
    <label for="estDevenueEquipe">Est devenue l'équipe: </label>
    <input class="form-control" type="text" id="estDevenueEquipe" formControlName="estDevenueEquipe" readonly>
</div>
