<div>
    <h4>Liste des statistiques des équipes</h4>
    <div class="my-2">
        <button type="button" (click)="ajouterStatsEquipe()">Ajouter une statistique d'équipe</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="th-avec-border-right">#</th>
                <th scope="col" class="th-avec-border-right thtd-texte">Nom équipe</th>
                <th scope="col" class="th-avec-border-right thtd-texte">Parties jouées</th>
                <th scope="col" class="th-avec-border-right thtd-texte">Nombre de victoires</th>
                <th scope="col" class="th-avec-border-right thtd-texte">Nombre de défaites</th>
                <th scope="col" class="th-avec-border-right thtd-texte">Nombre de défaites en prolongation</th>
                <th scope="col" class="th-avec-border-right thtd-texte">Nombre de buts pour</th>
                <th scope="col" class="th-avec-border-right thtd-texte">Nombre de buts contre</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td scope="row">{{ item.equipeId }}</td>
                <td>{{ item.equipe.nomEquipe }} {{ item.equipe.ville }}</td>
                <td>{{ item.nbPartiesJouees }}</td>
                <td>{{ item.nbVictoires }}</td>
                <td>{{ item.nbDefaites }}</td>
                <td>{{ item.nbDefProlo }}</td>
                <td>{{ item.nbButsPour }}</td>
                <td>{{ item.nbButsContre }}</td>
                <td>
                    <button type="button" (click)="consulterStatsEquipe(item.equipeId, item.anneeStats)">Consulter</button>
                </td>
                <td>
                    <button type="button" (click)="modifierStatsEquipe(item.equipeId, item.anneeStats)">Modifier</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
