<div>
    <h4>Alignement</h4>
    <table>
        <thead>
            <tr>
                <th># dossard</th>
                <th>Nom joueur</th>
                <th>Depuis</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.noDossard }}</td>
                <td>{{ item.prenomNomJoueur }}</td>
                <td>{{ item.dateDebutAffichee }}</td>
                <td>
                    <button type="button" (click)="consulterJoueur(item.joueurId)">Consulter</button>
                    <button type="button" (click)="enleverDeLAlignement(item.id)">Enlever de l'alignement</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
