<div>
    <h4>Liste des joueurs</h4>
    <div class="my-2">
        <button type="button" (click)="ajouterJoueur()">Ajouter un joueur</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom complet</th>
                <th scope="col">Ville de naissance</th>
                <th scope="col">Pays d'origine</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.prenom }} {{ item.nom }}</td>
                <td>{{ item.villeNaissance }}</td>
                <td>{{ item.paysOrigine }}</td>
                <td>
                    <button type="button" (click)="consulterJoueur(item.id)">Consulter</button>
                </td>
                <td>
                    <button type="button" (click)="modifierJoueur(item.id)">Modifier</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

