<div class="form-group" [formGroup]="joueurForm">
    <label for="nomJoueur">Nom du joueur: </label>
    <input class="form-control" type="text" id="nomJoueur" formControlName="prenomNom" readonly>
    <label for="dateNaissance">Date de naissance: </label>
    <input class="form-control" type="text" id="dateNaissance" formControlName="dateNaissance" readonly>
    <label for="ville">Ville de naissance: </label>
    <input class="form-control" type="text" id="ville" formControlName="villeNaissance" readonly>
    <label for="paysOrigine">Pays d'origine: </label>
    <input class="form-control" type="text" id="paysOrigine" formControlName="paysOrigine" readonly>
</div>
