<div class="form-group" [formGroup]="joueurForm">
    <label for="nomJoueur">Nom du joueur: </label>
    <input class="form-control" type="text" id="nomJoueur" formControlName="prenomNom" readonly>
    <label for="date_naissance">Date de naissance: </label>
    <input class="form-control" type="text" id="date_naissance" formControlName="date_naissance" readonly>
    <label for="ville">Ville de naissance: </label>
    <input class="form-control" type="text" id="ville" formControlName="ville_naissance" readonly>
    <label for="pays_origine">Pays d'origine: </label>
    <input class="form-control" type="text" id="pays_origine" formControlName="pays_origine" readonly>
</div>
